<div>
    <h1><%= project.name %> Issues</h1>
    <form action="/projects/<%= project._id %>/issues" method="GET">
        <!--  -->
        <label for="labels">Labels:</label>
        <select id="labels" name="labels" value="<%= labels %>">
            <% issues.labels.forEach(label => { %>
            <option value="<%=Issues.labels%>"><%=Issues.labels%></option>

            <% }); %>
            <option value=""></option>
        </select>
        <!--  -->


        <label for="author">Author:</label>
        <input type="text" id="author" name="author" value="<%= author %>">
        <!--  -->
        <label for="search">Search:</label>
        <input type="text" id="search" name="searchTitle" value="<%= search %>">
        <input type="text" id="search" name="searchDescription" value="<%= search %>">
        <!--  -->
        <button type="submit">Filter</button>
        <!--  -->
        <!--  -->
        <!-- button for new issue -->
        <a href="/projects/<%= project._id %>/issues/new">Create an issue</a>
        <ul>
            <% issues.forEach(issue => { %>
            <li>
                <a href="/issues/<%= issue._id %>"><%= issue.title %></a>
                <ul>
                    <li>Description: <%= issue.description %></li>
                    <li>Labels: <%= issue.labels.join(', ') %></li>
                    <li>Author: <%= issue.author %></li>
                </ul>
            </li>
            <% }) %>
        </ul>
    </form>

</div>